<div class="card m-3">
  <h5 class="card-header">Ajouter un étudiant</h5>
  <div class="card-body">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Prénom</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }"/>
        @if (submitted && form['firstName'].errors?.['required']) {
          <div class="invalid-feedback">Prénom requis</div>
        }
      </div>

      <div class="form-group">
        <label>Nom</label>
        <input type="text" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }"/>
        @if (submitted && form['lastName'].errors?.['required']) {
          <div class="invalid-feedback">Nom requis</div>
        }
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"/>
        @if (submitted && form['email'].errors?.['required']) {
          <div class="invalid-feedback">Email requis</div>
        }
      </div>

      @if (errorMessage) {
        <div class="alert alert-danger mt-2">{{ errorMessage }}</div>
      }

      <div class="text-center mt-3">
        <button class="btn btn-primary mr-1">Créer</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
      </div>

    </form>
  </div>
</div>
